@font-face {
  font-family: "HardestStyleDemo";
  src: url('../HardestStyleDemo.otf') format('opentype'),
  url('../HardestStyleDemo.ttf') format('truetype');
}

#viewport{
  min-height: 93%;
  width: 93%;
  position: absolute;
}


body{
  width: auto;
  background-color: #f7f7f7;
  font-family: 'Libre Baskerville', serif;
}

#header{
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  padding-top: 50px;
  font-size: 1.5em;
  /* padding-bottom: 12px; */
}

/* #mainGrid::after {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.035;
    background-image: url("Topographic-Map-Pattern-2.png");
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
} */


#title{
  grid-column: 1;
  padding-left: 90px;
}

#myName{
  font-family: "HardestStyleDemo", 'Libre Baskerville', serif;
  font-size: 2.2em;
}

#navs{
  grid-column: 3;
  padding-bottom: 20px;
  text-align: right;
}

#dloadResume{
  font-family: 'Libre Baskerville', serif;
  grid-column: 3;
  text-decoration: none;
  display: none;
  font-size: 0.75em;
  padding-right: 5px;
  /* text-align: right; */
  padding-top: 2px;
  color: #FF6961;
}

.link:link{
  text-decoration: none;
}

.link:visited{
  text-decoration: none;
}

.link:hover {
  background-color: #77DD77;
  cursor:pointer;
}

.link:active {
  background-color: #DD7777;
}

#mainGrid{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 70% 30%;
  min-height:100vh;
}

#mainContact{
  font-size: 1.5em;
  grid-column: 1;
  grid-row: 1;
  display: none;
  padding-left: 90px;
  padding-top: 10px;
}

#mainAbout{
  font-size: 1.5em;
  grid-column: 2;
  grid-row: 1;
  display: none;
  padding-bottom: 65px;
}

#mainResume{
  font-family: 'Libre Baskerville', serif;
  grid-column: 1;
  grid-row: 1;
  display: none;
  font-size: 1.0em;
  padding-left: 90px;
}

#tetons{
  padding-bottom: 15px;
  padding-top: 10px;
}

#booksLink{
  color: #FF6961;
  text-decoration: none;
}

#mainExperiments{
  font-size: 1.5em;
  grid-column: 1;
  grid-row: 1;
  display: none;
  padding-left: 105px;
}

#sepGrid{
  display: grid;
  grid-template-columns: 50% 50%;
}

#seperator{
  grid-column: 2;
  border-top: 1px solid #999999;
  padding-bottom: 40px;
  width: 100%;
}
