/* @font-face {
font-family: "HardestStyleDemo";
src: url('../HardestStyleDemo.otf') format('opentype'),
url('../HardestStyleDemo.ttf') format('truetype');
} */

#viewport{
  min-height: 90%;
  width: 90%;
  position: absolute;
}


body{
  width: auto;
  background-color: #faf8f8;
  font-family: 'Libre Baskerville', serif;
}

#header{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    padding-top: 50px;
    font-size: 1.5em;
}

#title{
  grid-column: 1;
  padding-left: 105px;
}

#myName{
  font-family: "HardestStyleDemo", 'Libre Baskerville', serif;
  font-size: 5em;
}

#navs{
  grid-column: 3;
  padding-bottom: 40px;
  text-align: right;
}

#mainGrid{
  display: grid;
  grid-template-columns: 50% 50%;
  min-height:100vh;
}

#main{
  font-size: 1.5em;
  grid-column: 2;
}

#sepGrid{
  display: grid;
  grid-template-columns: 50% 50%;
}

#seperator{
  grid-column: 2;
  border-top: 1px solid #999999;
  padding-bottom: 40px;
  /* padding-right: 265px; */
  width: 100%;
}
